<html>
  <head>
    <title>file Upload</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </head>
  <body>
    <form id="uploadForm" action="/api/upload-file" method="POST" enctype="multipart/form-data" (ngSubmit)="onSubmit()"> 
      <h1>Select file to upload and convert into base64 string</h1>
      <br>
      <!-- <label for="fileUpload">Read in console.log : </label>
      <input accept=".pdf" type="file" id="fileUpload" name="fileUpload"><br>
      <br> -->
      <label for="file">Choose File PDF : </label>
      <input accept=".pdf" id="file" type="file" name="file" ><br>
      <br>
      <button class="btn btn-primary btn-block" type="submit">Send</button>

    </form>
    <div id="message">{{ uploadMessage }}</div>

  </body>

</html>
